*.log
*.log.*
*.gz
*.map
*.mp3
.storage
tts
*.db
*.db*
doc
*.avi
meteocat_files/*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
secrets.yaml
known_devices.yaml
.shop*json
*.pyc
_doc/private

zigbee2mqtt/state.json
zigbee2mqtt/state.json
_doc/history.txt
